<h1><%= @plant.name %></h1>
<h1><%= @plant.id %></h1>
<%= simple_form_for [@plant, @plant_tag] do |f| %>
  <%= f.association :tag, collection: Tag.all, input_html: { multiple: true, include_blank: false } %>
  <%= f.submit %>
<% end %>
